$border-color: #ccc;
$background-color: #f0f0f0;
$selected-color: #46b270;
$muted-color: #ccc;
$text-color: #000;
$outline-color: #3B99FC;

$border-radius: 2px;
$item-size: 24px;
$day-margin: 2px;
$triangle-size: 8px;
$datepicker__margin: 5px;
$navigation-size: 6px;
